/* Основные стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Основной шрифт */
    color: #fff;
    /* overflow: hidden; */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  /* WebP для поддерживающих браузеров */
  @supports (background-image: url('images/1.webp')) {
    .background {
      background-image: url('images/1.webp');
    }
  }
  
  @supports not (background-image: url('images/1.webp')) {
    .background {
      background-image: url('images/1.jpg');
    } 
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Затемнение фона */
}

.container {
    position: relative; /* Меняем на relative */
    top: auto; /* Убираем фиксированное позиционирование */
    left: auto;
    transform: none; /* Убираем transform */
    text-align: center;
    z-index: 1;
    width: 90%;
    max-width: 800px;
    margin: 50px auto; /* Центрируем контейнер и добавляем отступ сверху */
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    padding-bottom: 100px; /* Добавляем отступ снизу для футера */
}

/* Заголовки */
.header h1 {
    font-family: 'Luxurious Script', cursive; /* Красивый шрифт для заголовка */
    font-size: 8em; /* Увеличиваем размер */
    font-weight: lighter;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: lighter;
}

.header h2 {
    font-family: 'Merriweather', serif; /* Тот же шрифт для подзаголовка */
    
    font-size: 2;
    margin: 10px 0 0;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Новый текст */
.poetic-text {
    margin: 40px 0;
    padding: 20px;
    text-align: justify; /* Выравнивание по ширине */
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
    color: #fff;
    line-height: 1.8;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.poetic-text p {
    margin: 0;
}

.poetic-text p {
    margin: 0;
}

/* Детали */
.details {
    margin: 40px 0;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3); /* Разделительная линия */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Merriweather', serif;
}

.event {
    margin: 20px 0;
}

.event h3 {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
    font-weight: 400;
}

.event p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #ccc;
}

/* Место проведения */
.location {
    font-family: 'Merriweather', serif;
    margin-top: 30px;
}

.location h3 {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
    font-weight: 400;
}

.location p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #ccc;
    margin-bottom: 20px;
}

/* Футер */
.footer {
    margin-top: 30px;
    padding-bottom: 100px; /* Отступ для счетчика */
    font-family: 'Merriweather', serif;
}

.footer p {
    font-size: 1.2em;
    color: #ccc;
    font-style: italic;
}

/* Карта */
.map {
    height: 300px;
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Кнопка для отображения карты */
.map-toggle {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.map-toggle img {
    display: block;
}

/* Счетчик */
.countdown {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    color: #ccc;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
    z-index: 1;
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .header h1 {
        font-size: 4em; /* Уменьшаем размер заголовка */
    }

    .header h2 {
        font-size: 2em; /* Уменьшаем размер подзаголовка */
    }

    .map {
        height: 200px; /* Уменьшаем высоту карты */
    }
}

/* Блок для обратной связи */
.feedback {
    margin: 40px 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px); /* Легкое размытие фона */
}

.feedback h3 {
    font-family: 'Merriweather', serif; /* Шрифт для заголовка */
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

/* Группы полей формы */
.form-group {
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #fff;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    font-family: 'Merriweather', serif;
}

.form-group textarea {
    resize: vertical; /* Разрешаем вертикальное изменение размера */
}

/* Кнопка отправки */
.feedback button {
    font-family: 'Merriweather', serif;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.feedback button:hover {
    background: rgba(255, 255, 255, 0.3);
}

/* Стили для группы радиокнопок */

.attendance-button {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.attendance-button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}

.attendance-button input[type="radio"] {
    display: none; /* Скрываем стандартные радиокнопки */
}

.attendance-button input[type="radio"]:checked + span {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.7);
}

.attendance-button span {
    display: block;
    padding: 10px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

/* Стили для карточек выбора */
.attendance-cards {
    display: flex;
    gap: 20px; /* Расстояние между карточками */
    margin-top: 10px;
}

.attendance-card {
    flex: 1;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease;
}

.attendance-card:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
}

.attendance-card input[type="radio"] {
    display: none; /* Скрываем стандартные радиокнопки */
}

.attendance-card input[type="radio"]:checked + .card-content {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.7);
}

.card-content {
    padding: 20px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.icon {
    font-size: 2em;
    display: block;
    margin-bottom: 10px;
}

.text {
    font-size: 1.2em;
}

.card-content img {
    width: 48px; /* Укажите нужный размер */
    height: 48px; /* Укажите нужный размер */
}

/* Стиль для заголовка "Кого еще возьмете с собой?" */
#family-members-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 1px; /* Меньше отступа, чем у остальных заголовков */
    font-family: 'Merriweather', serif;
}

/* Стиль для полей ввода имен членов семьи */
#family-members-container .form-group {
    margin-bottom: 10px; /* Уменьшаем расстояние между полями */
    margin-top: 10px;
}

#family-members-container .form-group input {
    width: 100%; /* Делаем поле ввода во всю ширину контейнера */
    padding: 8px; /* Немного увеличиваем padding для лучшего восприятия */
    border: 1px solid #ccc; /* Стандартная граница */
    border-radius: 4px; /* Округлые углы */
    box-sizing: border-box; /* Чтобы padding не выходил за границы поля */
    font-family: 'Merriweather', serif;
}

/* Меньше отступа между блоками формы */
#family-members-container .form-group + .form-group {
    margin-top: 5px;
}

#add-family-member {
    margin-bottom: 40px; /* Добавляем отступ снизу */
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.timeline {
    font-family: 'Merriweather', serif;
    position: relative;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px 0;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #ccc;
    left: 20px; /* Смещаем линию влево для мобильных */
}

.event {
    padding: 20px;
    position: relative;
    margin-left: 50px; /* Отступ для мобильных */
    width: calc(100% - 50px);
    box-sizing: border-box;
}

.event::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 3px solid #ccc;
    border-radius: 50%;
    z-index: 1;
    top: 50%; /* Выравниваем по вертикали */
    transform: translateY(-50%); /* Смещаем вверх на половину высоты */
    left: -42px; /* Позиция кружочка для мобильных */
}

.event-time {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; /* Время над событием */
}

.event-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: .8;
}
.message_gift{
    margin-top: 20; 
    color: #ccc;
    opacity: .8;
}

.event-details h3 {
    margin-top: 0;
    color: #333;
}

.event-details p {
    color: #666;
}

/* Адаптация для десктопов */
@media (min-width: 768px) {
    .timeline::before {
        left: 50%; /* Возвращаем линию в центр для десктопов */
        margin-left: -1px;
    }

    .event {
        width: 50%;
        margin-left: 0;
    }

    .event.left {
        left: 0;
    }

    .event.right {
        left: 50%;
    }

    .event::after {
        left: auto;
    }

    .event.left::after {
        right: -10px; /* Кружочки для левых событий */
    }

    .event.right::after {
        left: -10px; /* Кружочки для правых событий */
    }

    .event-time {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-bottom: 0;
    }

    .event.left .event-time {
        right: -60px; /* Время для левых событий */
    }

    .event.right .event-time {
        left: -60px; /* Время для правых событий */
    }
}



